.home{
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.desc{
    line-height: 16px;
}

.profileUrl{
    margin: 8px;
    margin-top: 16px;
    font-size: x-large;
    display: flex;
    column-gap: 8px;
}


/* .img-bg{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: grey;
    position: absolute;
} */

.home-img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /* background-color: rgb(184, 236, 236);
    position: relative;
    top: -10px;
    right: 10px; */
    box-shadow: 10px 10px 8px rgba(0,0,0,0.6);
}